{% extends 'layout.html.twig' %}

{% block header %}
    <h1>{{ category.name }}</h1>
{% endblock %}

{% block content %}
    <div class="row list-group">
        <article class="col-xs-12 list-group-item">
            {{ category.description }}
        </article>
    </div>

    <div class="controls">
        <ul>
            <li>
                <a href="{{ path('category_index') }}">Назад к списку категорий</a>
            </li>
            <li>
                <a href="{{ path('category_edit', { 'id': category.id }) }}">Редактировать категорию</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Удалить">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
